# Exercise 01 #
* Python Sets
* Set Methods
* Python Dictionaries
* Dictionary Methods
* Nested Dictionaries
* Python Arrays(Using List)
* Array Operations

In [5]:
# 1.1
# Set Operaions
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

Un = set_a.union(set_b)
print("Union => ", Un)

In = set_a.intersection(set_b)
print("Intersection => ", In)

diff = set_a.difference(set_b)
print("Difference => ", diff)

sym_diff = set_a.symmetric_difference(set_b)
print("Symmetric Difference => ", sym_diff)

Union =>  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection =>  {4, 5}
Difference =>  {1, 2, 3}
Symmetric Difference =>  {1, 2, 3, 6, 7, 8}

In [11]:
# 1.2
# Set Operations

unique_words = set()

fruits = ["apple", "banana", "apple", "cherry", "banana", "date"]

for fruit in fruits:
    unique_words.add(fruit)

print(unique_words)

unique_words.remove("banana")
print(unique_words)

print("\'date\' is present in the set: ", "date" in unique_words)

print("\nFinal Set => ", unique_words)

{'cherry', 'banana', 'apple', 'date'}
{'cherry', 'apple', 'date'}
'date' is present in the set:  True

Final Set =>  {'cherry', 'apple', 'date'}

In [13]:
# 1.3
# Set Comprehension

set_sqr = {x*x for x in range(1, 11)}

print(set_sqr)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [25]:
# 2.4
# Dictionay Creation and Access

student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 88}
print(student_grades)

student_grades['Eve'] = 95
print(student_grades)

student_grades['Bob'] = 95
print(student_grades)

print("The Grade of Charlie => ", student_grades['Charlie'])

del student_grades['Diana']
print(student_grades, "\n")

for name in student_grades.keys():
    print("Name: ", name, " => ", "Grade: ", student_grades[name], sep="")

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 88}
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 88, 'Eve': 95}
{'Alice': 85, 'Bob': 95, 'Charlie': 78, 'Diana': 88, 'Eve': 95}
The Grade of Charlie =>  78
{'Alice': 85, 'Bob': 95, 'Charlie': 78, 'Eve': 95}

Name: Alice => Grade: 85
Name: Bob => Grade: 95
Name: Charlie => Grade: 78
Name: Eve => Grade: 95

In [31]:
# 2.5
# Dictionary Methods

inventory = {'apple': 10, 'banana': 5, 'orange': 8}
print(inventory)

inventory['apple'] += 5
print(inventory)

print("\'grape\' is in the inventory =>", 'grape' in inventory)
if 'grape' not in inventory:
    inventory['grape'] = 15
print(inventory)

print("\nAll Items and Quantities =>", inventory)

{'apple': 10, 'banana': 5, 'orange': 8}
{'apple': 15, 'banana': 5, 'orange': 8}
'grape' is in the inventory => False
{'apple': 15, 'banana': 5, 'orange': 8, 'grape': 15}

All Items and Quantities => {'apple': 15, 'banana': 5, 'orange': 8, 'grape': 15}

In [37]:
# 2.6
# Nested Dictionaries

employees = {'emp1': {'name': 'John', 'age': 28, 'department': 'HR'},
             'emp2': {'name': 'Marie', 'age': 22, 'department': 'Finance'},
             'emp3': {'name': 'Liam', 'age': 35, 'department': 'IT'}}
print(employees)

employees['emp4'] = {'name': 'Emma', 'age': 30, 'department': 'Marketing'}
print(employees)

employees['emp3']['age'] = 36
print(employees)

print("\nDepartment of Marie =>", employees['emp2']['department'], "\n")

del employees['emp1']
print(employees)

{'emp1': {'name': 'John', 'age': 28, 'department': 'HR'}, 'emp2': {'name': 'Marie', 'age': 22, 'department': 'Finance'}, 'emp3': {'name': 'Liam', 'age': 35, 'department': 'IT'}}
{'emp1': {'name': 'John', 'age': 28, 'department': 'HR'}, 'emp2': {'name': 'Marie', 'age': 22, 'department': 'Finance'}, 'emp3': {'name': 'Liam', 'age': 35, 'department': 'IT'}, 'emp4': {'name': 'Emma', 'age': 30, 'department': 'Marketing'}}
{'emp1': {'name': 'John', 'age': 28, 'department': 'HR'}, 'emp2': {'name': 'Marie', 'age': 22, 'department': 'Finance'}, 'emp3': {'name': 'Liam', 'age': 36, 'department': 'IT'}, 'emp4': {'name': 'Emma', 'age': 30, 'department': 'Marketing'}}

Department of Marie => Finance

{'emp2': {'name': 'Marie', 'age': 22, 'department': 'Finance'}, 'emp3': {'name': 'Liam', 'age': 36, 'department': 'IT'}, 'emp4': {'name': 'Emma', 'age': 30, 'department': 'Marketing'}}

In [42]:
# 3.7
# Array Basics

numbers = [10, 20, 30, 40, 50]
print(numbers)

numbers.append(60)
print(numbers)

numbers.remove(20)
print(numbers)

numbers.insert(1, 25)
print(numbers)

print("\nFinal Array =>", numbers)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 30, 40, 50, 60]
[10, 25, 30, 40, 50, 60]

Final Array => [10, 25, 30, 40, 50, 60]

In [51]:
# 3.8
# Array Operations

temperatures = [23, 19, 22, 18, 24, 20, 21]
print(temperatures, "\n")

sum = 0
for t in temperatures:
    sum += t

avg = sum / len(temperatures)
print("Average Temperature =", avg)

print("Maximum Temperature =", max(temperatures))
print("Minimum Temperature =", min(temperatures))

[23, 19, 22, 18, 24, 20, 21]

Average Temperature = 21.0
Maximum Temperature = 24
Minimum Temperature = 18

In [56]:
# 3.9
# Multidimentional Arrays

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)

print("Element @ (2,3) =>", matrix[1][2])

matrix[0][1] = 20

print("\nPrinting the matrix row by row:")
for r in matrix:
    print(r)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Element @ (2,3) => 6

Printing the matrix row by row:
[1, 20, 3]
[4, 5, 6]
[7, 8, 9]